<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.DishMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加菜谱记录 -->
	<insert id="addDish" parameterType="dish">
		insert into t_dish(dishClassObj,dishName,dishPhoto,price,dishDesc,viewNum,addTime) values 
		(#{dishClassObj.classId},#{dishName},#{dishPhoto},#{price},#{dishDesc},#{viewNum},#{addTime})
	</insert>

	<!-- 按照查询条件分页查询菜谱记录 -->
	<select id="queryDish" resultMap="dishMap" >
		select t_dish.* from t_dish,t_dishClass ${where} and t_dish.dishClassObj = t_dishClass.classId limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="dishMap" type="dish">
        <id property="dishId" column="dishId" />
        <association property="dishClassObj" column="dishClassObj" select="com.chengxusheji.mapper.DishClassMapper.getDishClass" />
    </resultMap>
   
   <!-- 查询最新菜谱记录 -->
	<select id="queryZxDish" resultMap="dishMap" >
		select t_dish.* from t_dish,t_dishClass ${where} and t_dish.dishClassObj = t_dishClass.classId order by t_dish.addTime DESC limit 0,8
	</select>
	 

    <!-- 按照查询条件查询所有菜谱记录 -->
	<select id="queryDishList" resultMap="dishMap" >
		select t_dish.* from t_dish,t_dishClass ${where} and t_dish.dishClassObj = t_dishClass.classId
	</select>

    <!-- 按照查询条件的菜谱记录数 -->
	<select id="queryDishCount" resultType="int">
		select count(*) from t_dish,t_dishClass ${where} and t_dish.dishClassObj = t_dishClass.classId
	</select>

	<!-- 根据主键查询某个菜谱记录 -->
	<select id="getDish" parameterType="int" resultMap="dishMap">
		select * from t_dish where t_dish.dishId = #{dishId}
	</select>

	<!-- 更新菜谱记录 -->
	<update id="updateDish" parameterType="dish">
		update t_dish set dishClassObj=#{dishClassObj.classId},dishName=#{dishName},dishPhoto=#{dishPhoto},price=#{price},dishDesc=#{dishDesc},viewNum=#{viewNum},addTime=#{addTime} where dishId = #{dishId}
	</update>

	<!-- 删除菜谱记录 -->
	<delete id="deleteDish" parameterType="int">
		delete from t_dish where dishId=#{dishId}
	</delete>

</mapper>
